.tagedit{

    width:500px;
    height:400px;
    border:1px solid black;
    border-radius: 2px;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:50;
    background-color:white;


}
.quit{

    border-radius: 50%;
    width:20px;
    height:20px;
}

